@use './abstracts' as*;
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,400;0,600;1,400;1,600&display=swap');


body, p, h1, h2, h3, .page-header, .sub-header, button, .button, .label, .link {
    font-family: var(--font-family);
}

.page-header, h1 {
    font-weight: 600;
    font-size: 1.75rem;
    line-height: 2.25rem;

    @include tablet {
        font-size: 2rem;
        line-height: 2.5rem;
    }
}

.sub-header, h2 {
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 1.75rem;

    @include tablet {
        font-size: 1.5rem;
        line-height: 2.5rem;

    }
}

.link, h3, .p2, .inputEl {
    font-size: 0.813rem;
    line-height: 1.25rem;
    @include tablet {
        font-size: 0.875rem;
        line-height: 1.375rem;
    }
}

.p1, .p2, .p3 {
    font-weight: 400;
}

h4, .p3, .label {
    
    font-size: 0.75rem;
    line-height: 1.125rem;
    
    @include tablet {
        font-size: 0.688rem;
        line-height: 1rem;
    }
}
.h4, .label, button {
    font-weight: 600;
}
.p1 {
    font-size: 0.938rem;
    line-height: 1.625rem;

    @include tablet {
        font-size: 1rem;
        line-height: 1.75rem;
    }
}