@use '../../styles/partials/abstracts' as*;

.inventory-edit {
    &__form{
        display: flex;
        flex-direction: column;
        @include tablet {
            flex-direction: column;
            column-gap: 1.5rem;
        }
        &__row {
            display: flex;
            flex-direction: column;
            width: 100%;

            @include tablet {
                flex-direction: row;
                column-gap: 1.5rem;
            }
        }
        &__column {
            display: inherit;
            flex-direction: column;
            row-gap: 1rem;
            flex: 1 1 auto;
            margin-bottom: 1rem;
            &:first-child {
                border-bottom: 1px solid var(--Cloud);
                border-right: none;
                padding-bottom: 1rem;
            }
    
            @include tablet {
                flex: 1 1 50%;
                &:first-child {
                    border-bottom: none;
                    padding-right: 1.5rem;
                    border-right: 1px solid var(--Cloud);
                }
            }

        }

        &__buttons {
            display: flex;
            flex-direction: row;
            column-gap: 1rem;
            flex: 1 1 auto;
            justify-content: flex-end;
        }

        &__header {
            padding-bottom: 1.5rem;
        }
    }
}

